.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: calc(100vw - 15vw);
    height: calc(100vh - 11h);
    color:black;
    user-select: none;
}